/* General body styling */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header styling */
header {
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: 3rem;
    color: #2c3e50;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5rem;
    color: #7f8c8d;
}

/* Main content styling */
main {
    width: 90%;
    max-width: 800px;
    margin-top: 30px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Section styling */
section {
    margin-bottom: 20px;
}

h3 {
    font-size: 1.75rem;
    color: #34495e;
    margin-bottom: 10px;
}

p {
    font-size: 1rem;
    color: #7f8c8d;
    line-height: 1.5;
}

/* Links styling */
a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Styling for the Privacy Policy section */
#privacy-policy {
    background-color: #f9fafb; /* Light gray background for contrast */
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
}

/* Styling for important points in Privacy Policy */
#privacy-policy p {
    color: #34495e; /* Match the headers for consistency */
    /* font-weight: bold; Make the privacy details stand out */
    margin-bottom: 10px;
}

/* Styling for the EULA section */
#eula {
    background-color: #f9fafb; /* Light gray background for contrast */
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
}

/* Styling for the list items in EULA */
#eula ul {
    padding-left: 20px; /* Indent the bullet points */
    list-style-type: disc; /* Ensure standard bullet points */
}

#eula ul li {
    font-size: 1rem;
    color: #4b5563; /* A slightly darker gray for better readability */
    margin-bottom: 10px; /* Space between list items */
}

/* Styling for important points in EULA */
#eula p {
    color: #34495e; /* Match the headers for consistency */
    font-weight: bold; /* Make the introductory paragraph stand out */
    margin-bottom: 10px;
}

#help-feedback {
    background-color: #f9fafb; /* Light gray background for contrast */
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
}